body {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    height: 100%;
    padding: 1px;
}

.container {
    height: 100%;
    display: grid;
    font-size: 1rem;
    grid-gap: 4px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column: 1 / -1;
    background-color: coral;
    padding: 5px;
}

.content {
    grid-column: 1 / -1;
    background-color: crimson;
    padding: 5px;
}

.sidebar {
    grid-column: 1 / -1;
    background-color: chocolate;
    padding: 5px;
}

.extra {
    grid-column: 1 / -1;
    background-color: darkred;
    padding: 5px;
}

.footer {
    grid-column: 1 / -1;
    background-color: darksalmon;
    padding: 5px;
}

@media (min-width: 600px){

.container {
    font-size: 1.25rem;
    line-height: 1.25;
    grid-template-rows: 500px auto;
}

.header {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
}

.content {
    grid-column: 4 / -1;
    background-color: crimson;
    padding: 5px;
}

.sidebar {
    grid-column: 1 / 4;
    background-color: chocolate;
    padding: 5px;
}

@media (min-width: 800px){

.container {
    font-size: 1.5rem;
    line-height: 1.5;
}
}
}